{
    "presets": [
      ["@babel/preset-env", {
        "useBuiltIns": "entry",   // Automatically include required polyfills
        "corejs": 3,              // Specify the version of core-js
        "targets": {
          "browsers": ["> 0.25%", "not dead", "iOS >= 13", "Safari >= 13"]
        }
      }],
      "@babel/preset-react"
    ]
  }
